
{% extends 'base.html' %}

{% block title %}Item Details{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card mb-3 " style="margin-top:5%; margin-left : 10%; max-width: 1000px;">
    {% if item %}
    <div class="row g-0 bg-dark text-white">
      <div class="col-md-6 m-3">
        <img src="{{item.photo.url}}" class="card-img-top" height="330px">
      </div>
      <div class="col-md-4">
        <div class="card-body">
          <h3 class="card-title">{{item.item_name}}</h3>
          <h5 class="mt-0 text-50">Price: &#8377 {{item.prize}}</h5>
          <p class="card-text">{{item.description}}</p>
          <h6 class="mt-0 text-50">Model year: {{item.model_year}}</h6><br>
          <i style="font-size:19px" class="fa mb-3">&#xf041 {{item.city}}</i><br>
          <i style="font-size:19px" class="fa">&#xf095 {{item.mo_no}}</i>
        </div>
      </div>
    </div>
    {% endif %}
  </div>
  <br><br>
  {% include 'footer.html' %}
{% endblock %}

