{% extends 'base.html' %}

{% block title %} Home{% endblock title %}

{% block body %}
    
    <div class="container mb-10">
        <div class="row" >
            {% if item %}
                <!-- <p>{{item.item_name}}</p> -->
            <div class="col-sm-4">
              <div class="card m-2">
                <img src="{{item.photo.url}}" class="card-img-top" height="200px">
                    <p>item name={{item.item_name}}</p>
                  <p>prize={{item.prize}}</p>
                  <p>Model Year={{item.model_year}}</p>
                  <p>City={{item.model_year}}</p>
                  <p>Description={{item.description}}</p>
                  </div>
                </div>
            </div>
            {% endif %}
            item added succesfully!!!
          </div>
      </div>
    </div>
 {% endblock %}
